* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
   background: linear-gradient(45deg, #457b9d, #023e8a);
}
  
.container {
    position: absolute;
    width: 1400px;
    left: 4%;
    display: flex;
}

.container2 {
  width: 1100px;
  left: 4%;
  display: flex;
}

.Informacion {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
   
.cardInfo {
    background-color: #023E8A;
    width: 250px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #0077B6;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardInfo h2{
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.cardInfo hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #0077B6;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardInfo p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #ffffff;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}

.Formulario {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
   
.cardForm {
    background-color: #023E8A;
    width: 250px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #0077B6;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardForm h2{
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.cardForm hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #0077B6;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardForm p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}

.cardForm button {
    border: none;
    background-color: #0077B6;
    width: 50%;
    margin: 10px auto;
    padding: 10px 30px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    text-transform: uppercase;
  }

.Historial {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
   
.cardHistorial {
    background-color: #023E8A;
    width: 500px;
    min-height: 610px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #0077B6;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardHistorial h2{
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.cardHistorial hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #0077B6;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}

.cardHistorial p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}

@-webkit-keyframes line-show {
    from {
      margin: 0px 100px;
    }
    to {
      margin: 0px;
    }
}
  
/* Standard syntax */  
@keyframes line-show {
    from {
      margin: 0px 100px;
    }
    to {
      margin: 0px;
    }
  }

/* Safari 4.0 - 8.0 */  
@-webkit-keyframes p-show {
    from {
      color: white;
    }
    to {
      color: #282828;
    }
  }

/* Standard syntax */  
@keyframes p-show {
    from {
      color: white;
    }
    to {
      color: #282828;
    }
  }
  
/* Safari 4.0 - 8.0 */  
@-webkit-keyframes shadow-show {
    from {
      box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
      box-shadow: -20px -20px 0px 0px #0077B6;
    }
}
  
/* Standard syntax */  
@keyframes shadow-show {
    from {
      box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
      box-shadow: -20px -20px 0px 0px #0077B6;
    }
}


form, input{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    color: #eee;
}

form {
    padding: 10px;
}

button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #03045e; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    align-items: center;
}

input{
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}

input[type="text"] {
    color: #eee;
  }
  

input::placeholder {
    color: #eee;
    border: none;
    outline: none;
}

button:hover{
    background: #85d6de;
}

h1{
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}