body {
    background: linear-gradient(45deg, #457b9d, #023e8a);
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    position: absolute;
    height: 1000px;
    width: 1800px;
    top: 90px;
    left: 2%;
    display: flex;
  }
  .container_2 {
    position: absolute;
    margin-top: 850px;
    height: 1000px;
    width: 1800px;
    top: 90px;
    left: 2%;
    display: flex;
  }

  h1{
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  .card {
    display: flex;
    height: 725px;
    width: 1100px;
    background-color: #1d3557;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000000a0;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 20px 0;
  }

  .Respuesta_enfermedades, .Respuesta_pacientes, .Respuesta_asistencias, .Respuesta_terminarse, .Respuesta_centrosMedicos, .Respuesta_vencer{
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 280px;
  }
  .Separador{
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 400px;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  table {
    width: 600px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #0077B6;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
    
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

  th, td{
    text-align: center;
  }

  #tabla-suministros-v{
    width: 620px;
    left: 1.5%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }