html, body {
    height: 150%;
}
body {
    margin: 0;
    background-color: #457b9d;
    font-family: sans-serif;
    font-weight: 100;
}

.search__container {
        margin-left: 1%;
    }


#searchInput {
        width: 35%;
        padding: 12px 24px;
        background-color: #FFF;
        margin-bottom: 25px;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: #FFFF;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #FFF;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

#searchInput::placeholder {
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

#searchInput:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #FFF;
            border-radius: 0;
            background-position: 100% center;
        }


#Titulo{
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-left: 1%;
    text-align: left;
}
.container {
    position: absolute;
    top: 78%;
    left: 22%;
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
th {
    text-align: left;
}
thead th {
    background-color: #1d3557;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.boton {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    top: 5%;
    margin-left: 80%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1d3557;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .boton:hover {
    background-color: #0056b3;
    cursor: pointer;
  }